@import "tailwindcss";
@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/fira-code/wght.css";
@import "github-markdown-css/github-markdown.css";

@layer base {
    :root {
        --font-sans: "Inter Variable", sans-serif;
        --font-mono: "Fira Code Variable", monospace;
    }

    pre,
    code {
        font-family: var(--font-mono) !important;
    }

    #graph svg {
        width: 100%;
        height: auto;
        margin: 4px;
    }
}
